*, ::before, ::after {
    position: relative;
    box-sizing: border-box;
}

:root {
    /* Colours */
    --color-gray: #a6a6a6;
    --color-whiteGray: #a6a6a6;
    --color-whiterGray: #bababa;
    --color-dark: #2a2a2a;
    --color-orange: #ea6638;
}

html {
    font-size: 12px;
}

body {
    margin: 0 auto;
    max-width: 1600px;
    font-size: inherit;
    font-family: "Roboto", sans-serif;
    line-height: 1;
    color: var(--color-dark);
}

/*

body::-webkit-scrollbar {
    width: 0.35em;
}

body::-webkit-scrollbar-track {
    background: #26282d;
    border-radius: 10em;
}

body::-webkit-scrollbar-thumb {
    background: #696c72;
    border: 0.1em solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

*/

header {
    padding: 3.5em 7vw 2.5em;
}

main, footer {
    display: block;
    margin: 0 7vw 5em;
}

button, input {
    font: inherit;
    color: inherit;
    cursor: pointer;
    line-height: 1;
    background: unset;
    border: unset;
    outline: unset;
    appearance: unset;
}

input[type="text"] {
    cursor: text;
}

input::placeholder {
    color: var(--color-whiteGray);
}

input:focus::placeholder {
    color: transparent;
}

button:active {
    transform: scale(0.95);
}

strong {
    font-size: 1.1em;
}

a {
    color: var(--color-whiteGray);
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: var(--color-dark);
}

a.ghost {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
}

h1, h2, h3, h4, h5 {
    margin: unset;
}

hr {
    display: block;
    height: 1px;
    margin: 2em 0;
    background: rgba(0, 0, 0, 0.1);
    border: unset;
}

.hidden {
    display: none !important;
}

[hidden] {
    visibility: hidden;
}

.marked {
    color: #ffc500;
}

/* Icons */

[class *="icon"] {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background: no-repeat center/contain;
    vertical-align: middle;
}

.icon__person {
    background-image: url(/assets/img/person.png);
}

.icon__bag {
    background-image: url(/assets/img/bag.png);
}

.icon__search {
    background-image: url(/assets/img/search.png);
}

.icon__chevron-left {
    background-image: url(/assets/img/chevron-left.png);
}

.icon__chevron-down {
    width: 0.75em;
    height: 0.75em;
    background-image: url("/assets/img/chevron-left.png");
    transform: rotate(-90deg);
}

.icon__loupe {
    background-image: url(/assets/img/search.png);
}

.icon__alert {
    background-image: url(/assets/img/alert.png);
}

.icon__truck {
    background-image: url(/assets/img/truck.png);
    vertical-align: middle;
    margin-right: 0.5em;
}

.icon__vk {
    background-image: url(/assets/img/icons/vk.png);
}

.icon__twitter {
    background-image: url(/assets/img/socials.png);
    background-position: 0 0;
}

.icon__youtube {
    background-image: url(/assets/img/socials.png);
    background-position: -1.75em 0;
}

.icon__instagram {
    background-image: url(/assets/img/socials.png);
    background-position: -3.5em 0;
}

/* Tools */

.emphasize {
    color: var(--color-dark);
    text-decoration: underline;
}

.emphasize:hover {
    text-decoration: none;
}

.selector {
    display: inline-block;
}

.selector__current {
    display: flex;
    align-items: center;
    padding: 1.75rem;
    border: 1px solid var(--color-whiterGray);
    cursor: pointer;
}

.selector__current::before {
    content: attr(option);
    margin-right: 2em;
}

.selector__current::after {
    content: "";
    background: url("/assets/img/chevron-left.png") no-repeat center/contain;
    width: 0.75em;
    height: 0.75em;
    margin-left: auto;
    transform: rotate(-90deg);
}

.selector__group {
    display: none;
}

.cols {
    display: grid;
    row-gap: 1em;
}

.cols-coll {
    display: flex;
    justify-content: space-between;
    font-size: 1.125em;
}

.cols-coll--emphasized {
    margin-top: 1em;
}

/* Topbar */

.topbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-bottom: 3em;
}

.topbar__help {
    /* flex: 1; */
}

/* Logo */

.topbar__logo {
    font-size: 2em;
    font-weight: 500;
    text-align: center;
}

/* Account */

.topbar__account {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.topbar-account__section {
    display: flex;
    align-items: center;
}

.topbar-account__section:first-child {
    margin-right: 2em;
}

.topbar-account__section--text {
    margin-left: 0.5em;
    color: var(--color-whiteGray);
}

/* Megabar */

.megabar {
    display: flex;
    align-items: center;
}

/* Search */

.megabar-search {
    display: flex;
    align-items: center;
    z-index: 1;
}

.megabar-search__icon {
    margin-right: 0.75em;
    font-size: 1em;
}

.megabar-search__input {
    font-size: 1.25em;
    font-weight: 400;
    color: var(--color-whiteGray);
}

/* Menu */

.megabar-menu {
    position: absolute;
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
}

.megabar-menu__link {
    margin-left: 1em;
    color: var(--color-dark);
    font-size: 1.25em;
    text-decoration: none;
    transition: 0.125s linear opacity;
}

.megabar-menu__link:first-child {
    margin-left: unset;
}

.megabar-menu__link:hover {
    opacity: 0.75;
}

.page-breadcrumbs {
    color: var(--color-whiteGray);
}

.page-part {
    padding-bottom: 5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.page-article {
    padding: 2em 0;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}

.page-article__title {
    font-size: 1.75em;
    font-weight: 600;
}

.page-article__description {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.25;
    margin-top: 1.5em;
    max-width: 35em;
}

.page-container {
    margin-top: 2.5em;
    /* margin-bottom: 10em; */
}

.products-table {
    display: grid;
    row-gap: 2em;
    column-gap: 3em;
    grid-template-columns: repeat(4, 1fr);
}

.product {
    width: 100%;
    height: 40em;
}

.product__background {
    width: 100%;
    height: 35em;
    object-fit: cover;
    margin-bottom: 1.5em;
}

.product__title {
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 1.1em;
}

.product__price {
    text-align: center;
    font-size: 1.2em;
}

.product-slider {
    display: none;
}

/* Product page */

.product-page {
    display: flex;
    /* justify-content: space-between; */
}

.product-images {
    display: flex;
}

.product-images__images {
    display: grid;
    align-content: baseline;
    margin-right: 2.5em;
    row-gap: 2em;
}

.product-images__images>img {
    width: 7em;
    height: 7em;
    border: 1px solid var(--color-orange);
    border-radius: 0.125em;
    object-fit: cover;
}

.product-images__main {
    width: 45vw;
    height: 43vw;
    background: rebeccapurple;
    border-radius: 0.25em;
}

.product-details {
    padding-top: 2.5em;
    margin-left: 2.5em;
    width: 100%;
}

.product-details__title {
    font-size: 1.75em;
    font-weight: 500;
}

.product-details__tag {
    margin-top: 1em;
    font-size: 1em;
    font-weight: 400;
    color: var(--color-whiterGray);
}

.product-price {
    display: flex;
    align-items: flex-end;
}

.product-price__old {
    font-size: 1.25em;
    font-weight: 400;
    color: var(--color-whiterGray);
}

.product-price__new {
    margin-left: 0.5em;
    font-size: 1.5em;
    font-weight: 500;
    color: var(--color-orange);
}

.product-price__discount {
    display: inline-block;
    padding: 0.5rem 0.625rem;
    margin-left: 1em;
    background: var(--color-orange);
    border-radius: 0.2em;
    font-size: 1.125em;
    font-weight: 300;
    color: white;
}

.product-details__text {
    /* display: flex; */
    /* align-items: center; */
    margin: 2em 0;
    line-height: 1.25;
}

.product-details__selector {
    display: block;
    margin-bottom: 1em;
}

.product-details__menu {
    display: grid;
    row-gap: 1em;
}

.product-details__add {
    padding: 1.75em;
    width: 100%;
    background: var(--color-dark);
    font-size: 1.125em;
    font-weight: 500;
    color: white;
}

.product-details__info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25em;
    margin-top: 0.5em;
    background: rgba(0, 0, 0, 0.1);
}

.product-details__info>span:first-child {
    margin-right: 0.5em
}

/* Cart */

.cart-orders {
    position: fixed;
    right: 0;
    width: 35em;
    height: 100vh;
    overflow: auto;
    background: white;
    box-shadow: -2em 5em 2em -2.5em rgba(0, 0, 0, 0.25);
}

.cart-orders__title {
    display: flex;
    justify-content: space-between;
    padding: 3rem 2.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 1.75em;
    font-weight: 500;
}

.icon__cross {
    background-image: url("/assets/img/cross.png");
    background-size: 65%;
    width: 1em;
    height: 1em;
}

.cart-orders__orders {
    display: grid;
    row-gap: 2.5em;
    padding: 0 2.5em;
    margin-top: 3em;
}

.cart-order {
    display: flex;
    padding-bottom: 2.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cart-order__image {
    width: 8em;
    height: 11em;
    object-fit: cover;
}

.cart-order__details {
    flex: 1;
    margin-left: 2em;
}

.cart-order__title {
    display: flex;
    justify-content: space-between;
    font-size: 1.25em;
    font-weight: 500;
}

.cart-order__price {
    font-size: 1.25em;
    margin-top: 0.5rem;
}

.cart-order__size {
    font-size: 1.125em;
    margin: 1rem 0 1.25rem;
}

.cart-order__size--0 {
    color: var(--color-whiterGray);
}

.cart-order__size--1 {
    font-weight: 500;
}

.cart-order__details .selector {
    margin: auto;
}

.cart-submit {
    padding: 2.5em;
}

.cart-submit__promocode {
    display: flex;
    margin-bottom: 2em;
}

.cart-submit__promocode--input {
    padding: 1.25rem 2rem;
    font-size: 1.125em;
    border: 1px solid var(--color-whiterGray);
}

.cart-submit__promocode--button {
    font-size: 1.125em;
    font-weight: 500;
    padding: 1.25rem 2rem;
    margin-left: auto;
    border: 1px solid var(--color-dark);
    transition: 0.125s linear background-color, 0.125s linear color;
}

.cart-submit__promocode--button:hover {
    background: var(--color-dark);
    color: white;
}

.cart-submit__button {
    padding: 1.75em;
    margin-top: 2rem;
    width: 100%;
    background: var(--color-dark);
    font-size: 1.125em;
    font-weight: 500;
    color: white;
}

/* Footer */

.bottombar {
    display: flex;
    align-items: center;
}

.bottombar-menu {
    display: flex;
    margin-right: auto;
}

.bottombar-menu__link {
    margin-left: 1em;
    font-size: 1.25em;
    color: var(--color-dark);
    text-decoration: none;
}

.bottombar-menu__link:first-child {
    margin: unset;
}

.bottombar__social {
    display: flex;
    align-items: center;
    font-size: 1.25em;
}

.bottombar__social--network {
    height: 1.25em;
    margin-left: 0.5em;
    background-size: 5em;
}

.bottombar__social--text {
    margin-right: 0.5em;
}

.footer__logo {
    font-size: 2em;
    font-weight: 500;
    margin: 1em 0;
}

.footer__copyright {
    display: flex;
    font-size: 1.1em;
}

.footer__copyright>span:last-child {
    flex: 1;
    text-align: right;
}

.footer__copyright>a {
    margin-left: 2em;
}

/* Responsive */

@media only screen and (max-width: 1350px) {
    .products-table {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1100px) {
    .megabar-menu {
        position: relative;
        width: auto;
        margin: unset;
        margin-left: auto;
    }
}