@keyframes scale-in {
    from {
        transform: scale(0.75);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-out {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.75);
        opacity: 0;
    }
}

*, ::before, ::after {
    position: relative;
    box-sizing: border-box;
}

:root {
    /* Colours */
    --color-gray: #a6a6a6;
    --color-whiteGray: #a6a6a6;
    --color-whiterGray: #bababa;
    --color-dark: #2a2a2a;
    --color-orange: #ea6638;
    --color-green: #358428;
    --hrln: 1px solid rgba(0, 0, 0, 0.1);
}

html {
    font-size: 12px;
}

body {
    margin: 0 auto;
    max-width: 1600px;
    font-size: inherit;
    font-family: "Roboto", sans-serif;
    line-height: 1;
    color: var(--color-dark);
}

/*

body::-webkit-scrollbar {
    width: 0.35em;
}

body::-webkit-scrollbar-track {
    background: #26282d;
    border-radius: 10em;
}

body::-webkit-scrollbar-thumb {
    background: #696c72;
    border: 0.1em solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

*/

header {
    padding: 3.5em 7vw 2.5em;
}

main, footer {
    display: block;
    margin: 0 7vw 5em;
}

button, input {
    font: inherit;
    color: inherit;
    cursor: pointer;
    line-height: 1;
    background: unset;
    border: unset;
    outline: unset;
    appearance: unset;
}

input[type="text"] {
    cursor: text;
}

input::placeholder {
    color: var(--color-whiteGray);
}

input:focus::placeholder {
    color: transparent;
}

button:active {
    transform: scale(0.95);
}

strong {
    font-size: 1.1em;
}

a {
    color: var(--color-whiteGray);
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid;
}

a:hover {
    border-bottom-color: transparent;
}

a:active {
    color: var(--color-dark);
}

a.ghost {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
    border-bottom-color: transparent;
}

b {
    font-weight: 500;
}

p {
    margin: unset;
    white-space: pre-line;
}

h1, h2, h3, h4, h5 {
    margin: unset;
}

hr {
    display: block;
    height: 1px;
    margin: 2em 0;
    background: rgba(0, 0, 0, 0.1);
    border: unset;
}

.hidden {
    display: none !important;
}

[hidden] {
    visibility: hidden;
}

.marked {
    color: #ffc500;
}

/* Icons */

[class *="icon"] {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background: no-repeat center/contain;
    vertical-align: middle;
}

.icon__person {
    background-image: url(/assets/img/person.png);
}

.icon__bag {
    background-image: url(/assets/img/bag.png);
}

.icon__search {
    background-image: url(/assets/img/search.png);
}

.icon__chevron-left {
    background-image: url(/assets/img/chevron-left.png);
}

.icon__chevron-down {
    width: 0.75em;
    height: 0.75em;
    background-image: url("/assets/img/chevron-left.png");
    transform: rotate(-90deg);
}

.icon__loupe {
    background-image: url(/assets/img/search.png);
}

.icon__alert {
    background-image: url(/assets/img/alert.png);
}

.icon__truck {
    background-image: url(/assets/img/truck.png);
    margin-right: 0.5em;
}

.icon__menu {
    background-image: url(/assets/img/menu.png);
}

.icon__vk {
    background-image: url(/assets/img/icons/vk.png);
}

.icon__twitter {
    background-image: url(/assets/img/socials.png);
    background-position: 0 0;
}

.icon__youtube {
    background-image: url(/assets/img/socials.png);
    background-position: -1.75em 0;
}

.icon__instagram {
    background-image: url(/assets/img/socials.png);
    background-position: -3.5em 0;
}

.icon__cross {
    background-image: url("/assets/img/cross.png");
    background-size: 65%;
    width: 1em;
    height: 1em;
    cursor: pointer;
}

/* Tools */

.emphasize {
    color: var(--color-dark);
    text-decoration: underline;
}

.emphasize:hover {
    text-decoration: none;
}

.selector {
    display: inline-block;
}

.selector__current {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    border: 1px solid var(--color-whiterGray);
    cursor: pointer;
}

.selector__current::before {
    content: attr(option);
    margin-right: 2em;
}

.selector__current::after {
    content: "";
    background: url("/assets/img/chevron-left.png") no-repeat center/contain;
    width: 0.75em;
    height: 0.75em;
    margin-left: auto;
    transform: rotate(-90deg);
}

.selector__group {
    display: none;
}

.cols {
    display: grid;
    row-gap: 1em;
}

.cols-coll {
    display: flex;
    justify-content: space-between;
    font-size: 1.125em;
}

.cols-coll--emphasized {
    margin-top: 1em;
}

.cols-coll> :first-child {
    margin-right: 3em;
}

/* Topbar */

.topbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-bottom: 3em;
}

.topbar__help {
    /* flex: 1; */
}

/* Logo */

.topbar__logo {
    font-size: 2em;
    font-weight: 500;
    text-align: center;
}

/* Account */

.topbar__account {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.topbar-account__section {
    display: flex;
    align-items: center;
}

.topbar-account__section:first-child {
    margin-right: 2em;
}

.topbar-account__section--text {
    margin-left: 0.5em;
    color: var(--color-whiteGray);
}

/* Megabar */

.megabar {
    display: flex;
    align-items: center;
}

/* Search */

.megabar-search {
    display: flex;
    align-items: center;
    z-index: 1;
}

.megabar-search__icon {
    margin-right: 0.75em;
    font-size: 1em;
}

.megabar-search__input {
    font-size: 1.25em;
    font-weight: 400;
    color: var(--color-whiteGray);
}

/* Menu */

.megabar-menu {
    position: absolute;
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
}

.megabar-menu__link {
    margin-left: 1em;
    color: var(--color-dark);
    font-size: 1.25em;
    border-bottom-color: transparent;
    transition: 0.125s linear opacity;
}

.megabar-menu__link:first-child {
    margin-left: unset;
}

.megabar-menu__link:hover, .megabar-menu__link--active {
    opacity: 0.75;
}

.page-breadcrumbs {
    color: var(--color-whiteGray);
}

.page-part {
    padding: 2em 0 5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.page-article {
    padding: 2em 0;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}

.page-article__title {
    font-size: 1.75em;
    font-weight: 600;
}

.page-article__description {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.25;
    margin-top: 1.5em;
    max-width: 35em;
}

.page-container {
    margin-top: 2.5em;
    /* margin-bottom: 10em; */
}

.products-table {
    display: grid;
    gap: 2em 3em;
    grid-template-columns: repeat(4, 1fr);
}

.product {
    width: 100%;
    height: auto;
}

.product__background {
    width: 100%;
    object-fit: cover;
    margin-bottom: 1.5em;
}

.product__title {
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 1.1em;
}

.product__price {
    text-align: center;
    font-size: 1.2em;
}

.product-slider {
    display: none;
}

.product__size {
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    border-top: var(--hrln);
    font-size: 1.1em;
    text-align: center;
}

.product__amount {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 1rem;
    background: white;
    font-size: 1.1em;
    font-weight: 500;
}

/* Product page */

.product-page {
    display: flex;
    /* justify-content: space-between; */
}

.product-images {
    display: flex;
}

.product-images__images {
    display: grid;
    align-content: baseline;
    margin-right: 2.5em;
    row-gap: 2em;
}

.product-images__images>img {
    width: 7em;
    height: 7em;
    border: 1px solid var(--color-orange);
    border-radius: 0.125em;
    object-fit: cover;
}

.product-images__main {
    width: 45vw;
    height: 43vw;
    background: rebeccapurple;
    border-radius: 0.25em;
}

.product-details {
    padding-top: 2.5em;
    margin-left: 2.5em;
    width: 100%;
}

.product-details__title {
    font-size: 1.75em;
    font-weight: 500;
}

.product-details__tag {
    margin-top: 1em;
    font-size: 1em;
    font-weight: 400;
    color: var(--color-whiterGray);
}

.product-price {
    display: flex;
    align-items: flex-end;
}

.product-price__old {
    font-size: 1.25em;
    font-weight: 400;
    color: var(--color-whiterGray);
}

.product-price__new {
    margin-left: 0.5em;
    font-size: 1.5em;
    font-weight: 500;
    color: var(--color-orange);
}

.product-price__discount {
    display: inline-block;
    padding: 0.5rem 0.625rem;
    margin-left: 1em;
    background: var(--color-orange);
    border-radius: 0.2em;
    font-size: 1.125em;
    font-weight: 300;
    color: white;
}

.product-details__text {
    /* display: flex; */
    /* align-items: center; */
    margin: 2em 0;
    line-height: 1.25;
}

.product-details__selector {
    display: block;
    margin-bottom: 1em;
}

.product-details__menu {
    display: grid;
    row-gap: 1em;
}

.product-details__add {
    padding: 1.75em;
    width: 100%;
    background: var(--color-dark);
    font-size: 1.125em;
    font-weight: 500;
    color: white;
}

.product-details__info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25em;
    margin-top: 0.5em;
    background: rgba(0, 0, 0, 0.1);
}

.product-details__info>span:first-child {
    margin-right: 0.5em
}

/* Cart */

.cart-orders {
    position: fixed;
    top: 0;
    right: 0;
    width: 35em;
    height: 100vh;
    overflow: auto;
    background: white;
    box-shadow: -2em 5em 2em -2.5em rgba(0, 0, 0, 0.25);
    transform: translateX(100%);
    transition: 0.4s ease transform;
    z-index: 2;
}

.cart-orders--show {
    transform: translateX(0);
}

.cart-orders__title {
    display: flex;
    justify-content: space-between;
    padding: 3rem 2.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 1.75em;
    font-weight: 500;
}

.cart-orders__orders {
    display: grid;
    row-gap: 2.5em;
    padding: 0 2.5em;
    margin-top: 3em;
}

.cart-order {
    display: flex;
    padding-bottom: 2.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cart-order__image {
    width: 8em;
    height: 11em;
    object-fit: cover;
}

.cart-order__details {
    flex: 1;
    margin-left: 2em;
}

.cart-order__title {
    display: flex;
    justify-content: space-between;
    font-size: 1.25em;
    font-weight: 500;
}

.cart-order__price {
    font-size: 1.25em;
    margin-top: 0.5rem;
}

.cart-order__size {
    font-size: 1.125em;
    margin: 1rem 0 1.25rem;
}

.cart-order__size--0 {
    color: var(--color-whiterGray);
}

.cart-order__size--1 {
    font-weight: 500;
}

.cart-order__details .selector {
    margin: auto;
}

.cart-submit {
    padding: 2.5em;
}

.cart-submit__promocode {
    display: flex;
    margin-bottom: 2em;
}

.cart-submit__promocode--input {
    padding: 1.25rem 2rem;
    font-size: 1.125em;
    border: 1px solid var(--color-whiterGray);
}

.cart-submit__promocode--button {
    font-size: 1.125em;
    font-weight: 500;
    padding: 1.25rem 2rem;
    margin-left: auto;
    border: 1px solid var(--color-dark);
    transition: 0.125s linear background-color, 0.125s linear color;
}

.cart-submit__promocode--button:hover {
    background: var(--color-dark);
    color: white;
}

.cart-submit__button {
    padding: 1.75em;
    margin-top: 2rem;
    width: 100%;
    background: var(--color-dark);
    font-size: 1.125em;
    font-weight: 500;
    color: white;
}

.cart-orders__empty {
    display: block;
    margin-top: 5em;
    font-size: 1.25em;
    text-align: center;
}

/* Popup */

.popup, .popup__cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    z-index: 26;
}

.popup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup__cover {
    background: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.popup-window {
    position: absolute;
    top: 0;
    width: calc(75em + 15vw);
    padding: 3em;
    margin: 2em 0;
    background: white;
    box-shadow: 0 0 0.5em -0.25em;
    opacity: 0;
    transform: scale(0.5);
    z-index: 26;
}

.popup-window__article {
    display: grid;
    text-align: center;
}

.popup-window__title {
    display: flex;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 1.5em;
    font-weight: 500;
}

.popup-window__summary {
    margin-top: 1em;
    line-height: 1.25;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
}

.popup-window__close {
    margin-left: auto;
}

.scale-out {
    transform: scale(0.75);
    opacity: 0;
    animation: 0.175s scale-out;
    z-index: 25;
}

.scale-in {
    transform: scale(1);
    opacity: 1;
    animation: .175s scale-in;
    z-index: 26;
}

/* Shirt */

.shirt-sizing {
    display: flex;
    align-items: flex-start;
    margin-top: 2.5em;
}

.shirt-sizing__image {
    width: 20em;
}

.shirt-sizing__container {
    margin-left: 5em;
}

.shirt-sizing__paragraph {
    white-space: pre-line;
    margin: 0;
}

.shirt-sizing__table {
    border-spacing: 3em 2em;
    margin-top: 3em;
}

.shirt-sizing__table td {
    text-align: center;
}

.shirt-sizing__table tr:first-child td {
    font-size: 1.125em;
    font-weight: 500;
}

/* Profile */

.page-profile {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 5em;
}

.page-profile__sidebar {
    position: sticky;
    top: 5em;
    min-width: 20em;
}

.page-profile-account {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.page-profile-account__avatar {
    width: 4.5em;
    height: 4.5em;
    object-fit: cover;
    border-radius: 100%;
}

.page-profile-account__details {
    display: grid;
    row-gap: 0.5em;
    margin-left: 1em;
}

.page-profile-account__username {
    font-size: 1.125em;
    font-weight: 500;
}

.page-profile-account__links {
    display: flex;
}

.page-profile-account__links>a {
    margin-right: 0.5em;
}

.page-profile-menu {
    display: grid;
    row-gap: 1em;
    padding-top: 1.5em;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.page-profile-menu__link {
    padding: 0.5rem 1.5rem;
    border-left: 2px solid transparent;
    border-bottom-color: transparent;
    font-size: 1.25em;
}

.page-profile-menu__link:hover {
    color: var(--color-dark);
}

.page-profile-menu__link--active {
    color: var(--color-dark);
    border-left-color: var(--color-dark);
}

.page-profile__container {
    margin-right: 5em;
}

/* User data */

.user-data {
    margin-bottom: 3.5em;
}

.user-data__container {
    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2em;
}

.page-profile__article {
    margin-bottom: 2.5em;
}

.page-profile__title {
    font-size: 1.75em;
    font-weight: 500;
}

.page-profile__summary {
    font-size: 1.125em;
    font-weight: 500;
    margin-top: 2em;
}

.user-data__title {
    font-size: 1.5em;
    font-weight: 500;
}

.input-group {
    display: grid;
    align-content: stretch;
    justify-content: stretch;
    justify-items: stretch;
    row-gap: 1em;
}

.input-group__label {
    font-size: 1.125em;
}

.input-group__field {
    /* display: block; */
    /* width: 17.5rem; */
    padding: 1.25rem 1.5rem;
    border: 1px solid var(--color-whiterGray);
    font-size: 1.125em;
}

.input-group__field:valid {
    border-color: var(--color-green);
}

.input-row-groups {
    display: flex;
    justify-content: space-between;
}

.input-row-groups>* {
    flex: 1;
    margin-left: 2em;
}

.input-row-groups> :first-child {
    margin: unset;
}

.user-data-submit {
    padding: 1.75em 5em;
    background: var(--color-dark);
    font-size: 1.125em;
    font-weight: 500;
    color: white;
}

/* Orders history */

.orders-history {
    display: grid;
    row-gap: 5em;
    min-width: 40em;
}

.orders-history__order {
    display: grid;
    row-gap: 3em;
}

.orders-history-info {
    display: flex;
    justify-content: space-between;
}

.orders-history-info__col {
    display: grid;
    row-gap: 0.5em;
}

.orders-history-info__col--0 {
    font-size: 1.125em;
    font-weight: 500;
}

.orders-history-info__col--1 {
    font-size: 1.125em;
}

.orders-history-info__col--2 {
    font-size: 1.125em;
    color: var(--color-green)
}

.orders-history-items {
    display: flex;
    padding-top: 2.5em;
    border-top: var(--hrln);
}

.orders-history-items__images {
    display: flex;
}

.orders-history-items__image {
    width: 8em;
    margin-left: 1.5em;
}

.orders-history-items__image:first-child {
    margin: unset;
}

.orders-history-items__buttons {
    display: grid;
    /* row-gap: 1em; */
    align-content: space-between;
    margin-left: 1.5em;
}

.orders-history-items__button {
    padding: 1.5em 3em;
    background: white;
    border: 1px solid;
    font-size: 1.125em;
    font-weight: 500;
    color: var(--color-dark);
    /* transition: .125s linear background-color, .125s linear color; */
}

.orders-history-items__button:hover {
    background: var(--color-dark);
    color: white;
}

.orders-history-items__img-cover {
    position: absolute;
    right: 0;
    display: flex;
    width: 8em;
    height: 100%;
    background: rgba(42, 42, 42, 0.7);
    cursor: pointer;
}

.orders-history-items__img-cover:active {
    background: rgba(42, 42, 42, 0.8);
}

.orders-history-items__img-cover__text {
    margin: auto;
    color: white;
    font-size: 2.25em;
}

/* Order page */

.page-order {}

.page-order .page-profile__article {
    padding-bottom: 2.5em;
    border-bottom: var(--hrln);
}

.page-order__content {
    margin-bottom: 5em;
}

.page-profile__green-text {
    font-size: 1.125em;
    color: var(--color-green);
    margin-top: 1em;
}

.page-order__info {
    display: inline-grid;
    row-gap: 2em;
}

.page-order__info .cols-coll>* {
    width: 15em;
    line-height: 1.25;
}

.page-order__products {
    display: grid;
    gap: 2em 2.5em;
    grid-template-columns: repeat(3, 1fr);
}

.page-order__buttons {
    display: flex;
    padding-top: 2.5em;
    margin-top: 2.5em;
    border-top: var(--hrln);
}

.page-order__button {
    padding: 1.5em 3em;
    margin-left: 1.5em;
    background: white;
    border: 1px solid;
    font-size: 1.125em;
    font-weight: 500;
    color: var(--color-dark);
}

.page-order__button:first-child {
    margin: 0;
}

.page-order__button:hover {
    background: var(--color-dark);
    color: white;
}

/* Ordering page */

.page-ordering {
    display: flex;
    justify-content: center;
    margin: 5em 0;
}

.page-ordering__title {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: var(--hrln);
    font-size: 1.75em;
    font-weight: 500;
}

.page-ordering__content {
    display: grid;
    row-gap: 2em;
}

.page-ordering__delivery {
    width: 40em;
    margin-right: 5em;
}

.page-ordering__details {
    width: 30em;
}

.page-ordering__details .cart-orders__orders, .page-ordering__details .cart-submit {
    padding: 0;
    margin: 0;
}

.page-ordering__details .cart-submit {
    margin-top: 2.5em;
}

/* Terms */

.terms {}

.terms>p {
    font-size: 1.25em;
    margin-bottom: 2rem;
    line-height: 1.25;
}

.terms>h4 {
    font-size: calc(1.25em + 3px);
    font-weight: 500;
    margin-bottom: 1rem;
}

article {
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: var(--hrln);
}

article>h2 {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 1rem;
}

article>h5 {
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.25;
    max-width: 69%;
}

/* Footer */

.bottombar {
    display: flex;
    align-items: center;
}

.bottombar-menu {
    display: flex;
}

.bottombar-menu__link {
    margin-left: 1em;
    font-size: 1.25em;
    color: var(--color-dark);
    border-bottom-color: transparent;
    text-decoration: none;
}

.bottombar-menu__link:first-child {
    margin: unset;
}

.bottombar-menu__link:hover, .bottombar-menu__link--active {
    opacity: 0.75;
}

.bottombar__social {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 1.25em;
}

.bottombar__social--network {
    height: 1.25em;
    margin-left: 0.5em;
    background-size: 5em;
    border-bottom-color: transparent;
}

.bottombar__social--text {
    margin-right: 0.5em;
}

.footer__logo {
    font-size: 2em;
    font-weight: 500;
    margin: 1em 0;
}

.footer__copyright {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1em;
}

.footer__copyright>span:last-child {
    flex: 1;
    text-align: right;
}

.footer__copyright>a {
    margin-left: 2em;
}

/* Mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 35em;
    height: 100vh;
    overflow: auto;
    background: white;
    box-shadow: -2em 5em 2em -2.5em rgba(0, 0, 0, 0.25);
    transform: translateX(100%);
    transition: 0.4s ease transform;
    z-index: 2;
}

.mobile-menu--show {
    transform: translateX(0);
}

.mobile-menu__title {
    display: flex;
    justify-content: space-between;
    padding: 3rem 2.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 1.75em;
    font-weight: 500;
}

.mobile-menu__menu {
    display: grid;
    padding: 2.5em;
}

.mobile-menu__link {
    padding: 2rem 1rem;
    border-bottom-color: transparent;
    font-size: 1.25em;
    font-weight: 500;
    color: var(--color-dark);
    text-transform: uppercase;
}

.mobile-menu__link--active {
    color: var(--color-whiteGray);
}

.mobile-menu-trigger {
    display: none;
    padding: 1em;
    border: var(--hrln);
    cursor: pointer;
}

/* Responsive */

@media only screen and (max-width: 1350px) {
    .products-table {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1100px) {
    .megabar-menu {
        position: relative;
        width: auto;
        margin: unset;
        margin-left: auto;
    }
    .user-data__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 900px) {
    .bottombar-menu {
        display: none;
    }
    .bottombar .mobile-menu-trigger {
        display: unset;
    }
    .cart-orders, .mobile-menu {
        width: 100vw;
    }
    .megabar {
        display: grid;
        row-gap: 2em;
    }
    .megabar-menu {
        margin-left: unset;
        justify-content: unset;
    }
    .page-profile__container {
        margin-right: 2em;
    }
    [class *="button"] {
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media only screen and (max-width: 700px) {
    .megabar {
        display: flex;
        justify-content: space-between;
    }
    .megabar-menu {
        display: none;
    }
    .mobile-menu-trigger {
        display: unset;
    }
    .page-profile__container {
        margin-right: unset;
    }
    .page-profile {
        flex-flow: column-reverse;
    }
    .page-profile__sidebar {
        top: unset;
        margin-bottom: 5em;
    }
    .page-order__products, .products-table {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer__copyright>span:last-child {
        flex: none;
        margin-top: 0.5em;
    }
}

@media only screen and (max-width: 600px) {
    .topbar {
        display: flex;
    }
    .topbar> :first-child {
        display: none;
    }
    .topbar__logo {
        text-align: left;
        margin-right: auto;
    }
    .page-order__info .cols-coll>* {
        width: 38vw;
    }
    .orders-history {
        min-width: auto;
    }
    .orders-history-info {
        display: grid;
        row-gap: 2em;
    }
}